@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ================================
   TOP BAR
================================ */

.top-bar {
  width: 100%;
  background: #f5f5f5;
  color: #111;
  text-align: center;
  font-size: 14px;
  padding: 10px 0;
  letter-spacing: 0.3px;
}

/* ================================
   MAIN NAVBAR
================================ */
.navbar {
  width: 100%;
  height: 80px;
  background: #295988; /* exact light grey like systumm */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  position: sticky;
  top: 0;
  z-index: 999;
}

/* ================================
   LOGO
================================ */
.logo {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
  cursor: pointer;
}

/* ================================
   CENTER MENU
================================ */
.nav-center {
  display: flex;
  gap: 40px;
}

.nav-center a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  transition: all 0.3s ease;
}

/* underline hover animation */
.nav-center a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #ffffff;
  left: 0;
  bottom: -6px;
  transition: width 0.3s ease;
}

.nav-center a:hover::after {
  width: 100%;
}


.nav-right {
  display: flex;
  gap: 25px;
}

.icon {
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
@media (max-width: 900px) {
  .navbar {
    padding: 0 30px;
  }

  .nav-center {
    gap: 20px;
  }
}

@media (max-width: 700px) {
  .nav-center {
    display: none;
  }
}





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
}

a {
  text-decoration: none;
  color: inherit;
}
